<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
<insert id="user" parameterType="model.MemberDto">
insert into user values(#{email},#{pw},#{name},#{address},#{sex},#{phone},now())
</insert>
  <select id="selectReg" resultType="String">
  select email from user where email=#{email}
  </select>
  <select id="idcheck" resultType="int">
  select count(*) from user where email=#{email}
  </select>
  <select id="logincheck" resultType="model.MemberDto">
  select * from user where email=#{email}
  </select>
  <!-- <select id="user" resultType="model.MemberDto">
  select * from  (select rownum rnum, R.* from  (select * from member  order by no desc) R) where rnum between #{rowStart} and #{rowEnd}
  </select> -->
  <select id="userdelete">
  delete from user where email=#{email}
  </select>
  <select id="usersearch" resultType="model.MemberDto">
  select * from user where (email like '%'||#{search}||'%' or name like '%'||#{search}||'%')
  </select>
  <update id="changeinfo">
  update user set email=#{email},name=#{name} where email=#{email}
  </update>
  <select id="pwcheck">
  select count(*) from user where email=#{email} and pw=#{pw}
  </select>
</mapper>